form{
    width:60%;
    height: 550px;
    position: absolute;
    left: 20%;
    top: 150px;
}

div > *{
    margin: 5px;
}

form > *{
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
}

input{
    height: 45px;
    width: 250px;
    font-size: 17px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}

textarea{
    border: 0.5px solid lightgray;
    border-radius: 5px;
    font-size: 15px;
}

#name{
    top: 35px;
    left: 4.5%;
}

#email{
    right: 4.5%;
    top: 35px;
}

#message{
    bottom: 100px;
    left: 4.5%;
}

button{
    bottom: 15px;
    width: 200px;
    left: 37%;
    height: 50px;
    border-radius: 22px;
    border-color: #FFB000;
    color: #FFB000;
    border: 3px solid #FFB000;
    background-color: white;
}

button:hover{
    cursor: pointer;
    background-color: #FFB000;
    color: white;
}

button:active{
    width: 195px;
    height: 45px;
}

label{
    color: gray
}

.cancel{
    font-size: 32px;
    font-family: sans-serif;
    position: absolute;
    right: 150px;
    top: 30px;
    color: #FFB000;
}

.cancel:hover{
    cursor: pointer;
}

.cancel:active{
    font-size: 28px;
}

img{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; */
    position: absolute;
    left: 47%;
    margin-top: 70px;
}

hr{
    position: relative;
    top: 110px;
    border-color: 0.2px solid lightgray;
}
