.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
}

.icon > img{
    width: 0.5rem;
}

.items >button{
    position: relative;
    top: 10px;
    right: 40px;
    padding: 10px;
    font-size: 18px;
    border: 3px solid #FFB000;
    border-radius: 15px;
    background-color: white;
    font-weight: medium;
}

.items >button:hover{
    background-color: #FFB000;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.main > h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.main > p{
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
}

.main >img{
    margin-top: 40px;
}

/* background theme - #FFB000 */